/*General settings*/

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0;
    color: white;
    width: 99vw;
    padding: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, p {
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

.br {
    margin: 10px auto;
    border: 1px solid rgb(83, 83, 83);
    width: 100%;
}

.btn {
    text-align: center;
    width: 150px;
    border: 2px solid white;
    border-radius: 7px;
    padding: 10px 0px;
    color: white;
}

.btn-blue {
    background-color: #3775ED;
    border-color: #3775ED;
}


/*Header style*/

.header ul {
    display: flex;
    padding: 0;
    justify-self: end;
    grid-column: 4;
}

.header ul li {
    list-style-type: none;
    margin-left: 1em;
    flex: 1;
}

.header li a {
    padding: 7px;
}

.header a {
    color: white;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 30px auto;
    align-items: center;
}

.join-clubwebers {
    padding: 10px 23px;
    width: 170px;
    justify-self: end;
    grid-column: 5;
}

@media screen and (max-width: 700px) {
    .header {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        margin: 30px auto;
        align-items: center;
    }

    .join-clubwebers, .header ul {
        justify-self: center;
        grid-column: auto;
    }
}

@media screen and (max-width: 400px) {
    .header {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .join-clubwebers {
        padding: 10px;
        width: 150px;
    }
}

/*Section 1 style (h1, p, buttons)*/

section:nth-of-type(1) .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

@media screen and (max-width: 600px) {
    section:nth-of-type(1) .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 25px;
        justify-items: center;
    }
}

@media screen and (max-width: 400px) {
    section:nth-of-type(1) .wrapper {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

section:nth-of-type(1) .btn-blue {
    padding: 10px 33px;
    justify-self: end;
}

section:nth-of-type(1) .btn-dark {
    padding: 10px 28px;
}

@media screen and (max-width: 600px) {
    main section:nth-of-type(1) .btn-blue {
        justify-self: auto;
    }
}

section:nth-of-type(1) h1 a {
    color: rgb(104, 104, 252);
}

@media screen and (max-width: 400px) {
    section:nth-of-type(1) h1 {
        font-size: 2.0rem;
    }
}

/*image style, without section*/

.laptop {
    display: block;
    margin: 3% auto;
    width: 100%;
    border-radius: 10px;
}

/*Section 2 style*/

#margin-tb-50px {
    margin: 50px auto;
}

.three-image {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    margin: 0 auto;
    grid-gap: 25px;
}

@media screen and (max-width: 400px) {
    .three-image {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .three-image h4 {
        font-size: 1.0rem;
    }

    .three-image p {
        font-size: 0.7rem;
    }
}

.card-portfolio {
    background-color: #7937BB;
}

.card-marketing {
    background-color: #3775ED;
}

.card-e-commerce {
    background-color: #C96408;
}

.card-idea {
    display: flex;
    width: 100%;
    height: 287px;
    border-radius: 5px;
    z-index: -1;
    flex-wrap: wrap;
    justify-content: center;
}

.card-idea__img {
    width: 66px;
    height: 66px;
    margin: 40px 0 auto;
}

.card-e-commerce-img {
    margin: 15px 0 auto;
}

.card-text p {
    padding: 0px 35px;
} 

.card-text h4 {
    margin: 20px auto;
}

.card-text {
    width: 100%;
    height: 160px;
}

.card-e-commerce__web-icon1 {
    margin: -30px 0 0 -30px;
}

.card-e-commerce__web-icon2 {
    margin: -30px -30px 0 0;  
}

.card-e-commerce-web-icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.choose {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: #1A1919;
    height: 30vw;
    width: 100%;
    margin: 70px auto;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.choose h2, p {
    margin: 0;
    padding: 10px;
    width: 100%;
}

.choose img:nth-of-type(1) {
    position: absolute;
    top: 15%;
    left: 10%;
}

.choose img:nth-of-type(2) {
    position: absolute;
    top: 5%;
    left: 52%;
}

.choose img:nth-of-type(3) {
    position: absolute;
    top: 8%;
    left: 75%;
}

.choose img:nth-of-type(4) {
    position: absolute;
    top: 60%;
    left: 5%;
}

.choose img:nth-of-type(5) {
    position: absolute;
    top: 70%;
    left: 28%;
}

.choose img:nth-of-type(6) {
    position: absolute;
    top: 78%;
    left: 60%;
}

.choose img:nth-of-type(7) {
    position: absolute;
    top: 65%;
    left: 80%;
}

.choose img:nth-of-type(8) {
    position: absolute;
    top: 40%;
    left: 90%;
}

@media screen and (max-width: 1100px) {
    .choose {
        height: 50vw;
        width: 100%;
        margin: 30px auto;
    }
    
    .choose h2 {
        font-size: 1.7rem;
        margin: 0 30px;
    }
    
    .choose p {
        margin: 0 20px;
    }
}

@media screen and (max-width: 800px) {
    .choose {
        height: 60vw;
    }
    
    .choose h2 {
        font-size: 1.5rem;
        margin: 0 20px;
    }
    
    .choose p {
        margin: 0 15px;
    }

    .choose img:nth-of-type(2) {
        position: absolute;
        top: 5%;
        left: 40%;
    }

    .choose img:nth-of-type(3) {
        position: absolute;
        top: 8%;
        left: 60%;
    }

    .choose img:nth-of-type(8) {
        position: absolute;
        top: 20%;
        left: 75%;
    }
}

@media screen and (max-width: 600px) {
    .choose {
        height: 80vw;
    }

    .choose img {
        width: 10%;
    }

    .choose img:nth-of-type(4) {
        position: absolute;
        top: 70%;
        left: 5%;
    }
    
    .choose img:nth-of-type(5) {
        position: absolute;
        top: 80%;
        left: 28%;
    }
    
    .choose img:nth-of-type(7) {
        position: absolute;
        top: 75%;
        left: 80%;
    }
}

@media screen and (max-width: 400px) {
    .choose h2 {
        font-size: 1.2rem;
    }

    .choose p {
        font-size: 0.7rem;
    }

    .choose img:nth-of-type(8) {
        position: absolute;
        top: 12%;
        left: 75%;
    }

    .choose img:nth-of-type(6) {
        position: absolute;
        top: 88%;
        left: 60%;
    }
}
/*Section 3 style*/

section:nth-of-type(3) h2, 
section:nth-of-type(3) p {
    text-align: left;
}

.developers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
    justify-items: center;
    margin: 0 auto;
}

.card-dev {
    position: relative;
    height: 290px;
    width: 100%;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}
  
.card-dev__bg-img {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
  
.card-dev__caption {
    background-color: rgba(9, 7, 7, 0.4);
    width: 100%;
    height: 80px;
    backdrop-filter: blur(25px);
    align-self: flex-end;
    padding: 9px 19px 14px 20px;
    display: flex;
    justify-content: space-between;
}
  
.card-dev__icon {
    height: 20px;
    width: 20px;
}
  
.card-dev__title {
    margin: 0 0 9px 0;
}
  
.card-dev__skill {
    display: flex;
    align-items: center;
}
  
.card-dev__skill p {
    margin: 0 0 0 5px;
}
  
.card-dev__comment-icon {
    align-self: flex-end;
}

.card-dev__comment-icon {
    position: absolute;
    width: 10%;
    z-index: 1;
    bottom: 15px;
    right: 15px;
}

section:nth-of-type(3) .btn-blue {
    display: block;
    margin: 70px auto;
    width: 200px;
}

@media screen and (max-width: 400px) {
    .developers {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    section:nth-of-type(3) h2 {
        font-size: 1.8rem;
    }

    #margin-tb-50px {
        font-size: 1.0rem;
    }
    
    .card-dev__title {
        font-size: 0.9rem;
        margin: 0;
    }

    .card-dev__skill p {
        font-size: 0.75rem;
    }

    .card-dev__caption {
        height: 90px;
    }

    section:nth-of-type(3) .btn-blue {
        width: 150px;
    }
}

/*Section 4 style*/

.comments {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 15px;
    margin: 70px auto;
}

.comment-card {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 160px;
    background-color: #1A1919;
    border-radius: 5px;
}

.comment-card p {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.5;
    padding: 10px 20px 0px 20px;
    text-align: left;
}

.comment-card img {
    width: 35px;
    height: 35px;
    margin: 0 20px 10px 20px;
    align-self: center;
}

.comment-card h5 {
    margin: 0 20px 10px 0px;
    align-self: center;
}

@media screen and (max-width: 1535px) {
    .comments {
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    }
}

@media screen and (max-width: 1070px) {
    .comments {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media screen and (max-width: 440px) {
    .comments {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .comment-card p {
        font-size: 0.7rem;
        padding: 5px;
    }

    .comment-card h5 {
        font-size: 0.85rem;
        margin: 0;
    }

    .comment-card img {
        width: 25px;
        height: 25px;
        margin: 0 5px;
        align-self: center;
    }

    section:nth-of-type(4) h2 {
        font-size: 2.0rem;
    }
}

.website img {
    display: block;
    margin: 0;
    width: 100%;
    border-radius: 5px;
    opacity: 0.8;
    overflow: hidden;
    z-index: -1;
}

.website {
    position: relative;
    display: block;
    margin: 70px auto;
    width: 100%;
    height: 100%;
}

.website h2, .website p {
    position: absolute;
    margin: 10px 70px;
    text-align: left;
    width: 100%;
}

.website h2 {
    top: 35%;
}

.website p {
    top: 55%;
}

@media screen and (max-width: 1250px) {
    .website h2 {
        top: 25%;
    }
    
    .website p {
        top: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .website h2 {
        top: 15%;
    }
    
    .website p {
        top: 50%;
    }
}

@media screen and (max-width: 770px) {
    .website h2 {
        top: 5%;
    }
    
    .website p {
        top: 60%;
    }
}

@media screen and (max-width: 670px) {
    .website img {
        display: block;
        width: 100%;
    }

    .website {
        position: relative;
        display: block;
        margin: 70px auto;
        width: 100%;
        align-content: center;
    }

    .website h2, .website p {
        z-index: 1;
        margin: 10px 20px;
        text-align: left;
        width: 100%;
    }

    .website h2 {
        font-size: 2.0rem;
        top: 40%;
    }
} 

@media screen and (max-width: 510px) {
    .website h2 {
        font-size: 1.6rem;
    }

    .website p {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 400px) {
    .website h2 {
        font-size: 1.0rem;
        margin: 10px;
    }

    .website p {
        font-size: 0.75rem;
        margin: 10px;
    }
}

/*Section 5 clubweber style*/

.clubweber {
    background-color: #3775ED;
    border: 1px solid #3775ED;
    border-radius: 10px;
    margin: 70px auto;
}

section:nth-of-type(5) .btn-dark {
    display: block;
    margin: 50px auto;
    background-color: black;
    border-color: #3775ED;
    width: 200px;
}

@media screen and (max-width: 400px) {
    .clubweber h2 {
        font-size: 1.9rem;
    }

    section:nth-of-type(5) .btn-dark {
        width: 150px;
    }
}

/*Footer style*/

footer a {
    color: white;
}

footer {
    display: flex;
    align-items: center;
}

footer p:nth-of-type(1) {
    text-align: left;
}

.social {
    display: flex;
    margin: 20px auto;
}

footer p:nth-of-type(2) {
    text-align: right;
}

.social img {
    padding: 10px;
}

@media screen and (max-width: 550px) {
    footer {
        flex-wrap: wrap;
    }
    
    .social {
        margin: 10px auto;
    }

    footer p:nth-of-type(1),
    footer p:nth-of-type(2) {
        text-align: center;
    }
    
    .social img {
        padding: 10px;
    }
}

@media screen and (max-width: 400px) {
    .social img {
        padding: 3px;
    }
}